---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="📄 Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Resume</div>
  </div>

  <!-- <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Curriculum Development Associate at Eudeka and SMKDEV"
      subtitle="Full Time, From March 2023 - Now at FISHKU Indonesia, Indonesia"
    >
      <ul class="list-disc">
        <li>
          Restropacted as Curriculum Developer for Back End Development with
          Golang Learning Path
        </li>
        <li>
          Developed and reviewed several curriculum for SMKDev
          (https://www.smk.dev/learning-path/) and Tokopedia Prakerja
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="ML Engineer at C23-CD01 | Overfishn't"
      subtitle="Internship, From April 2023 - June 2023 at FISHKU Indonesia, Indonesia"
    >
      <ul class="list-disc">
        <li>
          Created an Multi Platform Performance Dashboard for roli Telkomsel and
          specified with suggested Key Performance Index for Mobile
          ApplicationsInitiated an automations for roli Performance Dashboard.
        </li>
        <li>
          Performed data query and data wrangling from Google Analytics 4 and
          suggested time data update to Google Sheets through Google Cloud API
          Service
        </li>
        <li>
          Analyzed User-Generated-Content, Survey, Content Click, Broadcast Hit,
          and more related content from roli apps and giving
          insight/recommendation for next content
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Bangkit Academy 2023 H1 Cohort at Machine Learning Path"
      subtitle="Apprenticeship, From February 2023 - July 2023 at Bangkit Academy led by Google, Tokopedia, Gojek, & Traveloka, Indonesia"
    >
      <ul class="list-disc">
        <li>Full Graduated and recognisable as ML-85 mentee</li>
        <li>
          Working on for Self Paced Learning on most prestigious learning
          platform (Cousera, DeepLearning.AI, Dicoding)
        </li>
        <li>
          Active and full participants on every single Instructional-led
          Training, Consultations, and more non-mandatory sessions.
        </li>
        <li>
          Selected from 67.000+ interested applicants with acceptance rate 7.43%
          and choosed Machine Learning path
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Data Analytics at roli Apps Analytics Implementations"
      subtitle="Internship, From August 2022 - December 2022 at Telkomsel, Indonesia"
    >
      <ul class="list-disc">
        <li>
          Created an Multi Platform Performance Dashboard for roli Telkomsel and
          specified with suggested Key Performance Index for Mobile
          ApplicationsInitiated an automations for roli Performance Dashboard.
        </li>
        <li>
          Performed data query and data wrangling from Google Analytics 4 and
          suggested time data update to Google Sheets through Google Cloud API
          Service
        </li>
        <li>
          Analyzed User-Generated-Content, Survey, Content Click, Broadcast Hit,
          and more related content from roli apps and giving
          insight/recommendation for next content
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
