---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Public Profile 📢" sideBarActiveItemID="public-profile">
  <div>
    <div class="text-4xl w-full font-bold mb-5">Public Profile 📢</div>
  </div>

  <HorizontalCard
    title="Google Developers"
    img="/gdev.webp"
    desc="Samuel Pandohan Terampil Gultom - Educator at PT Eureka Merdeka Indonesia (Eudeka)"
    badge="NEW"
    url="https://g.dev/adalgisoabercio19"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Medium"
    img="/medium.webp"
    desc="Samuel Pandohan Terampil Gultom - Medium"
    badge="NEW"
    url="https://medium.com/@pandohansamuel19"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="DataCamp"
    img="/datacamp.webp"
    desc="Samuel Pandohan Terampil Gultom - DataCamp Portfolio"
    url="https://www.datacamp.com/portfolio/pandohansamuel19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kaggle"
    img="/kaggle.webp"
    desc="Samuel Pandohan Terampil Gultom - Kaggle"
    url="https://www.kaggle.com/pandohansamuel19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Codeforces"
    img="/codeforces.webp"
    desc="Samuel Pandohan Terampil Gultom - Codeforces"
    url="https://codeforces.com/profile/pandohansamuel19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FreeCodeCamp"
    img="/freecodecamp.webp"
    desc="Samuel Pandohan Terampil Gultom - FreeCodeCamp"
    url="https://www.freecodecamp.org/pandohansamuel19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TLX Toki"
    img="/tlx.webp"
    desc="Samuel Pandohan Terampil Gultom - TLX Toki"
    url="https://tlx.toki.id/profiles/adalgisoabercio19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="StackOverFlow"
    img="/stackoverflow.webp"
    desc="Samuel Pandohan Terampil Gultom - StackOverFlow"
    url="https://stackoverflow.com/users/14953089/adalgisoabercio19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Showwcase"
    img="/showwcase.webp"
    desc="Samuel Pandohan Terampil Gultom - Showwcase"
    url="https://stackoverflow.com/users/14953089/adalgisoabercio19"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ADPList"
    img="/adplist.webp"
    desc="Samuel Pandohan Terampil Gultom - ADPList"
    url="https://adplist.org/members/samuel-pandohan-terampil-gultom"
    badge="NEW"
  />
</BaseLayout>
